@import "./mixins.scss";

nav.navbar {
    &.nav-active{
        background-color: $theme2 !important;
        & .navbar-brand{
            & img{
                height: 35px !important;
            }
        }
    }
    [class*=container] {
        .navbar-brand {
            img {
                height: 30px;
                transition: 0.3s linear;
                // filter: drop-shadow(0px 0px 4px white)drop-shadow(0px 0px 4px white);
                @include md {
                    height: 50px;
                }
                @include lg {
                    height: 60px;
                }
            }
        }
        .navbar-toggler {
            .navbar-toggler-icon {

            }
        }
        .offcanvas {
            .offcanvas-header {
                .offcanvas-title {

                }
                .btn-close {

                }
            }
            .offcanvas-body {
                ul.navbar-nav {
                    gap: 20px;
                    li.nav-item {
                        .nav-link {
                            --bs-nav-link-color: $white;
                            --bs-nav-link-font-size: 13px;
                            &:hover{
                                --bs-nav-link-hover-color: darken($white, 20);
                            }
                            &.active {
                                --bs-navbar-active-color: darken($white, 20);
                            }
                        }
                    }
                }
            }
        }
    }
}
.navbar-toggler{
    & .navbar-toggler-icon{
        filter: brightness(10);
    }
}