@import "./mixins.scss";
body{
    background-color: black;
}

.mainHeading{
    margin-bottom: 40px;
    padding-top: 70px;
    & .heading{
        font-weight: 700;
        font-size: 17px;
        color: #c1ab65;
        display: inline-block;
        margin-bottom: 20px;
        text-transform: uppercase;
        @include md {
            
        }
    }
    & .subHeading{
        font-weight: 600;
        font-size: 45px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.historyFluid{
    padding-bottom: 70px;
    & .historySwiperNavigation{
        position: relative;
        border: 1px solid white;   
        height: 1px;     
        background-color: white; 
        margin: 80px 40px;
            & .swiper-pagination{
                display: flex;
                justify-content: space-around;
                & .swiper-pagination-bullet{
                    position: relative;
                    opacity: 1;
                    & .year{
                        color: white;
                        position: absolute;
                        top: -25px;
                        left: 0px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    &::after{
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid white;
                        position: absolute;   
                        top: 5px; 
                    }
                    &::before{
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: white;
                        border: 1px solid white;
                        position: absolute;
                        top: 0;
                        top: 10px;
                        left: 9px;
                    }
                    &.swiper-pagination-bullet-active{
                        background-color: transparent;
                        &::after{
                            content: '';
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 1px solid white;
                            position: absolute;   
                            top: 5px; 
                        }
                        &::before{
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: white;
                            border: 1px solid white;
                            position: absolute;
                            top: 0;
                            top: 10px;
                            left: 9px;
                        }
                    }
                }
            }

        & .historySwiperNavigationNext{
            position: relative;    
            top: -9px;
            z-index: 1;
            &::after{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid white;
                position: absolute;    
            }
            &::before{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid white;
                position: absolute;
                top: 0;
                top: 5px;
                left: 5px;
            }
        }
        & .historySwiperNavigationPre{
            background-color: white;
            width: 40px;
            height: 40px;
            position: absolute;
            top: -50px;
            left: 80px;
        }
    }
    & .historySwiper{
        & .historySwiperWrapper{
            & .historySwiperSlide{
                & .historyImg{
                    width: 100%;
                    height: auto;
                    & img{
                        width: 100%;
                        height: 100%;
            
                    }
                }
                & .historyHeading{
                    color: #ffffff;
                    font-size: 48px;
                    margin-bottom: 10px;
                    font-weight: 400;
                }
                & .historyPara{
                    color: #d5d7d7;
                    font-size: 17px;
                    max-width: 715px;
                    margin-bottom: 15px;
                }
                & .historyCardWrapper{
                    & .historyCardImg{
                        width: 60px;
                        height: 60px;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    & .historyCardHeading{
                        font-size: 20px;
                        color: #ffffff;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    & .historyCardPara{
                        color: #d5d7d7;
                        font-size: 17px;
                        max-width: 715px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
