@import "./mixins.scss";
body{
    background-color: $black !important;
}

.mainHeading{
    // margin-bottom: 40px;
    // padding-top: 70px;
    & .heading{
        font-weight: 700;
        font-size: 14px;
        color: $theme1;
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
        @include sm{
            font-size: 17px;
            margin-bottom: 10px;
        }
        @include lg{
            font-size: 16px;
            margin-bottom: 10px;
        }
        @include xl{
            font-size: 17px;
            margin-bottom: 20px;
        }
        @include xxl{
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
    & .subHeading{
        font-weight: 600;
        font-size: 20px;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 0;
        @include sm{
            font-size: 35px;
        }  
        @include md{
            font-size: 35px;
        }
        @include lg{
            font-size: 35px;
        }
        @include xl{
            font-size: 40px;
        }
        @include xxl{
            font-size: 45px;
        }
    }
}

.historyFluid{
    padding-bottom: 70px;
    & .historySwiperNavigation{
        position: relative;
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: $white;
            position: absolute;
            top: 35px;
        }
        @include md{
            margin:  20px 40px 20px 40px;
        }
        @include lg{
            margin:  20px 40px 20px 40px;
        }
        @include xl{
            margin: 20px 40px 20px 40px;
        }
        @include xxl{
            margin: 20px 40px 20px 40px;
        }
            & .swiper-pagination{
                display: flex;
                justify-content: space-around;
                inset: 0;    
                flex-wrap: nowrap;
                overflow-x: auto;
                height: 80px;
                align-items: center;
                position: relative !important;
                & .swiper-pagination-bullet{
                    position: relative;
                    opacity: 1;
                    transform: translateY(-50%);
                    min-width: 60px;
                    background-color: transparent !important;
                    & .year{
                        color: #fff;
                        position: absolute;
                        top: -35px;
                        left: 50%;
                        font-size: 16px;
                        font-weight: 600;
                        transform: translateX(-50%);
                    }
                    &::after{
                        content: '';
                        border-radius: 50%;
                        border: 1px solid $white;
                        position: absolute;     
                        inset: -6px;
                        margin: auto;
                        height: 20px;
                        width: 20px;
                    }
                    &::before{
                        content: '';
                        border-radius: 50%;
                        background-color: $white;
                        border: 1px solid $white;
                        position: absolute;  
                        inset: 0px;
                        margin: auto;
                        width: 10px;
                        height: 10px;
                    }
                    &.swiper-pagination-bullet-active{
                        background-color: transparent;
                        &::after{
                            content: '';
                            border-radius: 50%;
                            border: 1px solid $white;
                            position: absolute;   
                            inset: -6px;
                            margin: auto;
                        }
                        &::before{
                            content: '';
                            border-radius: 50%;
                            // background-color: $white;
                            border: 1px solid $white;
                            position: absolute;
                            inset: 0;
                            margin: auto;
                        }
                    }
                }
            }
    }
    & .historySwiper{
        & .historySwiperWrapper{
            & .historySwiperSlide{
                & .historyImg{
                    width: 100%;
                    height: auto;
                    & img{
                        width: 100%;
                        height: 100%;
            
                    }
                }
                & .historyHeading{
                    color: $white;
                    font-size: 25px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    margin-top: 12px;
                    @include sm{
                    font-size: 34px;
                    }
                    @include md{
                    font-size: 36px;
                    }
                    @include lg{
                    font-size: 35px;
                    }
                    @include xl{
                    font-size: 40px;
                    }
                    @include xxl{
                    font-size: 48px;
                    }
                }
                & .historyPara{
                    color: #d5d7d7;
                    font-size: 14px;
                    max-width: 715px;
                    margin-bottom: 15px;
                    @include md{
                        font-size: 16px;
                    }
                    @include lg{
                        font-size: 15px;
                    }
                    @include xl{
                        font-size: 16px;
                    }
                    @include xxl{
                        font-size: 17px;
                    }
                }
                & .historyCardWrapper{
                    & .historyCardImg{
                        width: 40px;
                        height: 40px;
                        margin: auto;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                        @include md{
                            width: 60px;
                            height: 60px;
                            margin-left: 0;
                        }
                        @include lg{
                            width: 45px;
                            height: 45px;
                        }
                        @include xl{
                            width: 50px;
                            height: 50px;
                        }
                        @include xxl{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    & .historyCardHeading{
                        font-size: 16px;
                        color: $white;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-top: 10px;
                        @include sm{
                            font-size: 15px;
                        }
                        @include md{
                            font-size: 19px;
                        }
                        @include lg{
                            font-size: 15px;
                        }
                        @include xl{
                            font-size: 18px;
                        }
                        @include xxl{
                            font-size: 20px;
                        }
                    }
                    & .historyCardPara{
                        color: #d5d7d7;
                        font-size: 14px;
                        max-width: 715px;
                        margin-bottom: 15px;
                        @include sm{
                            font-size: 13px;
                        }
                        @include md{
                            font-size: 15px;
                        }
                        @include lg{
                            font-size: 14px;
                        }
                        @include xl{
                            font-size: 16px;
                        }
                        @include xxl{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

.heroFluid{
    height: calc(100vh - 56px);
    min-height: 400px;
    @include md {
        height: calc(100vh - 76px);
    }
    @include lg {
        height: calc(100vh - 102px);
    }
    & .heroSwiper{
        & .heroSwiperWrapper{
            & .heroSwiperSlide{
                position: relative;
                &::after{
                    content: '';
                    background-image: url(../img/heroImg.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                & .heroTxtBox{
                    z-index: 2;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    & .heroHeading{
                        font-weight: 700;
                        font-size: 25px;
                        margin-bottom: 0;
                        color: $white;
                        line-height: 125%;
                        @include sm{
                            font-size: 40px;
                        }
                        @include md{
                            font-size: 50px;
                        }
                        @include lg{
                            font-size: 60px;
                        }
                        @include xl{
                            font-size: 80px;
                        } 
                        @include xxl{
                            font-size: 80px;
                        }
                    }
                    & .heroSubHeading{
                        font-weight: 700;
                        font-size: 16px;
                        letter-spacing: 2px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        color: $white;
                        @include sm{
                            margin-bottom: 15px;
                            font-size: 18px;
                            margin-top: 10px;
                        }
                        @include md{
                            margin-bottom: 15px;
                        }
                        @include lg{
                            margin-bottom: 40px;
                        }
                        @include xl{
                            margin-bottom: 40px;
                        }
                        @include xxl{
                            margin-bottom: 40px;
                        }
                    }
                    & .heroBtn{
                        font-weight: 600;
                        color: $theme2;
                        background-color: $white;
                        border-radius: 5px;
                        display: inline-block;
                        position: relative;
                        z-index: 1;
                        font-family: "Josefin Sans", sans-serif;
                        border: none;
                        padding: 10px 10px;
                        font-size: 12px;
                        margin: 20px 0;
                        @include sm{
                            padding: 5px 19px 5px;
                            font-size: 12px;
                        }
                        @include md{
                            padding: 5px 19px 5px;
                        }
                        @include lg{
                            padding: 9px 25px 9px;
                            font-size: 16px;
                        }
                        @include xl{
                        }
                        @include xxl{
                        }
                    }
                }
                & .socialLinks{
                    z-index: 3;
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    @include sm{
                        left: 50%;
                        bottom: 10px;
                        transform: translateX(-50%);
                    }
                    @include md{
                        left: 50%;
                        bottom: 10px;
                        transform: translateX(-50%);
                    }
                    @include lg{
                        top: 50%;
                        right: 35px;
                        left: unset;
                        transform: translateY(-50%);
                    }
                    @include xl{
                    }
                    @include xxl{
                    }
                    & .socialUl{
                        display: flex;
                        @include md{
                            flex-direction: row;
                        }
                        @include lg{
                            flex-direction: column;
                        }
                        @include xl{
                            flex-direction: column;
                        }
                        @include xxl{
                            flex-direction: column;
                        }
                        & .socialLi{
                            display: inline-block;
                            font-weight: 600;
                            color: $white;
                            font-size: 16px;
                            // writing-mode:vertical-lr;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            @include sm{
                                margin-right: 10px;
                            }
                            @include md{
                            }
                            @include lg{
                                // transform: rotate(-90deg);
                            &:last-child{
                                transform: rotate(-90deg);
                            }
                            }
                            @include xl{
                            }
                            @include xxl{
                            }
                            & .socialAnchor{
                                transition: 0.3s linear;
                                &:hover{
                                    opacity: 0.5;
                                }
                                & img{
                                    width: 15px;
                                    height: 15px;
                                    @include lg{
                                        transform: rotate(-90deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
