@import "./mixins.scss";
body{
    background-color: $black !important;
}

.mainHeading{
    // margin-bottom: 40px;
    // padding-top: 70px;
    & .heading{
        font-weight: 700;
        font-size: 14px;
        color: $theme1;
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
        @include sm{
            font-size: 17px;
            margin-bottom: 10px;
        }
        @include lg{
            font-size: 16px;
            margin-bottom: 10px;
        }
        @include xl{
            font-size: 17px;
            margin-bottom: 20px;
        }
        @include xxl{
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
    & .subHeading{
        font-weight: 600;
        font-size: 20px;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 0;
        @include sm{
            font-size: 35px;
        }  
        @include md{
            font-size: 35px;
        }
        @include lg{
            font-size: 35px;
        }
        @include xl{
            font-size: 40px;
        }
        @include xxl{
            font-size: 45px;
        }
    }
}

.historyFluid{
    padding-bottom: 70px;
    & .historySwiperNavigation{
        position: relative;
        border: 1px solid $white;   
        height: 1px;     
        background-color: $white; 
        margin: 60px 40px 40px 40px;
        @include lg{
            margin:  64px 40px 40px 40px;
        }
        @include xl{
            margin: 80px 40px;
        }
        @include xxl{
            margin: 80px 40px;
        }
            & .swiper-pagination{
                display: flex;
                justify-content: space-around;
                inset: 0;
                & .swiper-pagination-bullet{
                    position: relative;
                    opacity: 1;
                    transform: translateY(-50%);
                    & .year{
                        color: #fff;
                        position: absolute;
                        top: -35px;
                        left: 50%;
                        font-size: 16px;
                        font-weight: 600;
                        transform: translateX(-50%);
                    }
                    &::after{
                        content: '';
                        border-radius: 50%;
                        border: 1px solid $white;
                        position: absolute;     
                        inset: -6px;
                        margin: auto;
                    }
                    &::before{
                        content: '';
                        border-radius: 50%;
                        background-color: $white;
                        border: 1px solid $white;
                        position: absolute;  
                        inset: 0px;
                        margin: auto;
                    }
                    &.swiper-pagination-bullet-active{
                        background-color: transparent;
                        &::after{
                            content: '';
                            border-radius: 50%;
                            border: 1px solid $white;
                            position: absolute;   
                            inset: -6px;
                            margin: auto;
                        }
                        &::before{
                            content: '';
                            border-radius: 50%;
                            // background-color: $white;
                            border: 1px solid $white;
                            position: absolute;
                            inset: 0;
                            margin: auto;
                        }
                    }
                }
            }
    }
    & .historySwiper{
        & .historySwiperWrapper{
            & .historySwiperSlide{
                & .historyImg{
                    width: 100%;
                    height: auto;
                    & img{
                        width: 100%;
                        height: 100%;
            
                    }
                }
                & .historyHeading{
                    color: $white;
                    font-size: 25px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    margin-top: 12px;
                    @include sm{
                    font-size: 34px;
                    }
                    @include md{
                    font-size: 36px;
                    }
                    @include lg{
                    font-size: 35px;
                    }
                    @include xl{
                    font-size: 40px;
                    }
                    @include xxl{
                    font-size: 48px;
                    }
                }
                & .historyPara{
                    color: #d5d7d7;
                    font-size: 14px;
                    max-width: 715px;
                    margin-bottom: 15px;
                    @include md{
                        font-size: 16px;
                    }
                    @include lg{
                        font-size: 15px;
                    }
                    @include xl{
                        font-size: 16px;
                    }
                    @include xxl{
                        font-size: 17px;
                    }
                }
                & .historyCardWrapper{
                    & .historyCardImg{
                        width: 40px;
                        height: 40px;
                        margin: auto;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                        @include md{
                            width: 60px;
                            height: 60px;
                            margin-left: 0;
                        }
                        @include lg{
                            width: 45px;
                            height: 45px;
                        }
                        @include xl{
                            width: 50px;
                            height: 50px;
                        }
                        @include xxl{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    & .historyCardHeading{
                        font-size: 16px;
                        color: $white;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-top: 10px;
                        @include sm{
                            font-size: 15px;
                        }
                        @include md{
                            font-size: 19px;
                        }
                        @include lg{
                            font-size: 15px;
                        }
                        @include xl{
                            font-size: 18px;
                        }
                        @include xxl{
                            font-size: 20px;
                        }
                    }
                    & .historyCardPara{
                        color: #d5d7d7;
                        font-size: 14px;
                        max-width: 715px;
                        margin-bottom: 15px;
                        @include sm{
                            font-size: 13px;
                        }
                        @include md{
                            font-size: 15px;
                        }
                        @include lg{
                            font-size: 14px;
                        }
                        @include xl{
                            font-size: 16px;
                        }
                        @include xxl{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
