@import "./variables";

.mainHeading{
    & .heading{
        font-weight: 700;
        font-size: 17px;
        color: #c1ab65;
  
        margin-bottom: 10px;
        text-transform: uppercase;
        @include lg{
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
    & .subHeading{
        font-weight: 600;
        font-size: 30px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        @include lg{
            font-size: 45px;
        }
    }
}


.Heading2{
    font-size: 45px;
    color: $black;
    font-weight: 600;
}

// services Section start 
.servicesSection{
    background-color: $theme2;

    & .servicesCard{
        margin-bottom: 30px;
        @include sm{
            margin-bottom: 30px;
            transition: all 0.3s ease-in-out;
            &:hover{
                & .cardIcon{
                    transform: rotate(180deg);
                }
            }
        }
        & .cardIcon{
            width: 40px;
            height: 40px;
            transition: all 0.3s ease-in-out;

         
        }
        & .cardHeading{
            font-size: 18px;
            color: $white;
            margin-bottom: 8px;
            @include lg{
                font-size: 20px;
            }
        }
        & .cardPera{
            font-size: 14px;
            color: $white;
            line-height: 24px;
            opacity: 0.9;
            @include sm{
                font-size: 16px;
            }
          
        }
    }

}


// video section start 

.videoSection{
    // background-color: $theme2;
    & .videoSectionInner{
        position: relative;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        @include sm{
            position: relative;
            transition: all 0.4s ease-in-out;
            &:hover{
                & .videoIcon{
                    visibility: visible;
                    opacity: 1;
                }
                & .videoImg{
                    transition: all 0.4s ease-in-out;

                    & img{

                        transform: scale(1.1);
                    }
                }
                
            }
        }
      
        & .videoImg{
            height:100%;
            @include sm{
                height: 250px;
                overflow: hidden;
                & img{
             transition: all 0.4s ease-in-out;
             overflow: hidden;

                }
            }
        }
        & .videoIcon{

            display: inline-block;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 60px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $black;
            background-color: $theme1;

            opacity: 1;
            visibility: visible;
            opacity: 1;
            padding: 18px;
            &:hover{
                background-color: $theme2;
            }
            @include sm{
             
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            width: 70px;
            height: 70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $black;
            background-color: $theme1;
            padding: 22px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease-in-out;
            }
        }
    }
}


// video section end 


// product Section start 

.productSection{
    // background-color: $theme2;
    & .productItem{
        transition: all 0.3s ease-in-out;
        @include sm{
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        
            &:hover{
                & .productImg{
                    & img{

                        transform: scale(1.1);
                    }
                    
                }
            }
        }
        & .productImg{
            margin-bottom: 22px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        @include sm{
            margin-bottom: 22px;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            & img{
                transition: all 0.3s ease-in-out;
                overflow: hidden;
            }
        }


        }
        & .cardHeading{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 18px;

            @include md{

                font-size: 24px;
                font-weight: 600;
                color: $black;
                margin-bottom: 18px;

            }
        }
        & .productInnerHeading{
            font-size: 14px;
            font-weight: 500;
            &:hover{
                color: $theme1;
            }
            @include md{
                font-size: 18px;
                color: $black;
                font-weight: 500;
                transition: all 0.5s ease-in-out;

            }
        }
        
    }
}




// product Section end 

// award Section start 

.awardSection{
    background-color: $theme2;
    & .peraAwrd{
        font-size: 14px;
        font-weight: 500;
        color: $white;
        @include lg{
            font-size: 16px;
            font-weight: 500;
            color: $white;
        }
    }
    & .awardImg{
        width: 70px;
        height: 60px;
        @include lg{
            width: 100px;
            height: 90px;
        }
        @include sm{
            & img{
                transition: all 0.3s ease-in-out;

            }
            &:hover{
                & img{
                    transform: scale(1.1);
                }

            }
        }

    }
}


// award Section end 

// aboutus Section start 

.aboutusSection{
    background-color: $white;
    & .aboutHeading{
        font-size: 28px;
        font-weight: 600;
        
        @include md{
            font-size: 44px;
            color: $black;
            font-weight: 600;
        }
        @include sm{
            font-size: 34px;
            color: $black;
            font-weight: 600;
        }
        
    }
    & .peraAwrd{
        font-size: 14px;
        &  .pera1{
            color: lighten($black, 30);
            font-weight: 500;
        }
        @include sm{
            font-size: 16px;
            font-weight: 500;
            color: lighten($black, 30);
        }
    }
}



// aboutus Section end 


// ourWork sevtion start 

.ourWork{
    & .pastHeading{
        font-size:20px;
      
        @include sm{
            font-size: 25px;
            font-weight: 600;
            color: $theme2;
        }
    }
    & .posterImg{
        & img{
            transform: rotate(1deg);
            transition: all 0.3s ease-in-out;
            @include sm{
                transform: rotate(-1deg);
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: rotate(1deg);
                }
            }
        }
    }
    & .posterIm2{
        & img{
            transform: rotate(-1deg);
            transition: all 0.3s ease-in-out;
            @include sm{
                transform: rotate(1deg);
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: rotate(-1deg);
                }
            }
        }
    }
}

// ourWork section end 
